<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>{{>header}}</nav>
    <h2>{{title}}</h2>
    <h2>{{desc}}</h2>
    <h2>name is: {{name}}</h2>
    <h2>city is: {{city}}</h2>
    <h2>age is: {{age}}</h2>

    <footer>{{>footer}}</footer>
</body>
</html>